fastapi
uvicorn
pydantic
qdrant-client
llama-index
llama-index-embeddings-ollama
llama-index-llms-ollama
llama-index-multi-modal-llms-ollama
google-api-python-client
google-auth-oauthlib
pymupdf
tqdm
